<section><h2 class="editor-header">Deleting post</h2></section>
<section class="form">
{{#Data}}
    <form method="POST" class="ac_wrapper" action="{{BasePath}}thread/{{Thread}}/post/{{Post}}/delete">
        <div>
            <span class="full verysmall nickname editor-nick">{{Nickname}}</span>
            {{^IsAdmin}}
			<input class="full short inline verysmall" type="text" name="tripcode" placeholder="Tripcode (required)" required />
            {{/IsAdmin}}
            <span class="editor-info">deleting {{Thread}}/#p{{Post}}</span>
        </div>
        <div class="center">
            <button name="deletetype" value="soft" type="submit">Delete</button>
            {{#IsAdmin}}
            <button name="deletetype" value="purge" type="submit">Purge</button>
            {{/IsAdmin}}
            <a class="button" href="{{BasePath}}thread/{{Thread}}">Back</a>
        </div>
  </form>
{{/Data}}
</section>
