<section><h2 style="padding: 2px 5px;">Editing post</h2></section>
<section class="form">
{{#Data}}
    <form id="edit-form" class="ac_wrapper" method="POST" action="{{BasePath}}thread/{{Thread}}/post/{{Post}}/edit">
        <div>
            <span class="full verysmall nickname" style="display: inline-block; border: 0; width: auto">{{Nickname}}</span>
            {{^IsAdmin}}
			<input class="full short inline verysmall" type="text" name="tripcode" placeholder="Tripcode (required)" required />
            {{/IsAdmin}}
            <span style="color: #ccc; display: inline-block; width: auto; font-size: 0.9em;">editing {{Thread}}/#p{{Post}}</span>
        </div>
        <!-- Editor buttons -->
        <div id="editorRight" class="small editorButtonCont editorButtonContRight">
            <a target="_blank" href="/stiki/formatting" rel="help">?</a>
        </div>
        <div id="editorButtons" class="small editorButtonCont"></div>
        <textarea class="full small editor" name="text" required>{{{Content}}}</textarea>
        {{#IsOP}}
        <input class="full small ac_input" type="text" name="tags" placeholder="Tags (separated by #)" value="{{{Tags}}}" autocomplete="off"/>
        {{/IsOP}}
        <div class="center">
            <div class="chars-count" data-maxlen="#{maxlen}"></div>
            <input type="Submit" value="Edit post"/>
            <a class="button" href="{{BasePath}}thread/{{Thread}}">Back</a>
        </div>
    </form>
{{/Data}}
</section>
