<nav>
    <a href="/new" class="button">New thread</a>
    <input type="text" id="tagsearch" placeholder="Filter by tag" />
</nav>
<hr />
<article class="hidden2">
    Most popular tags, ordered by popularity
</article>
{{#Data}}
<article class="tag-item">
        <h3 class="tag-name"><a href="/tag/{{Name}}" class="noborder">{{Name}}</a></h3>
        <div>Last updated thread: {{#LastThread}}<a href="/thread/{{ShortUrl}}" class="thread-title">{{Title}}</a>{{/LastThread}} (<span class="date">{{LastUpdate}}</span>)</div>
</article>
{{/Data}}