<nav>
    <a href="{{BasePath}}new" class="button">New thread</a>
    <form id="tagsearch-form" class="ac_wrapper inlineBlock" method="POST" action="{{BasePath}}tagsearch">
        <input class="ac_input" type="search" name="tags" id="tagsearch" placeholder="Filter by tag" required title="Insert tags (each starting with '#')" data-acsearch="on" autocomplete="off" />
        <input type="submit" value="Search" />
    </form>
    <a href="{{BasePath}}stiki" class="button" rel="prefetch">Stiki</a>
    <a href="{{BasePath}}hidden" class="button">Hidden</a>
    {{#IsAdmin}}
    <a href="{{BasePath}}blacklist" class="button">Blacklist</a>
    {{/IsAdmin}}
</nav>
<hr />
<section class="hidden2 thread sec-header">
    <div class="leftContent">Recently updated threads, ordered by latest reply.</div>
    <a id='mark-all-read' href='' class="noborder hide right rightContent">Mark all read</a>
</section>
{{#Data}}
{{#Last}}
{{#Thread}}
<article class="thread-item thread" data-tags="{{#Tags}}#{{{.}}}{{/Tags}}">
    <h3 class="thread-name"><a href="{{BasePath}}thread/{{ShortUrl}}" class="nolink">{{Title}}</a></h3>
    <div>Last reply:
        <a class="last-reply" href="{{BasePath}}thread/{{ShortUrl}}/page/{{Page}}#p{{LastMessage}}">
            #{{LastMessage}} -
            {{#LastPost}}{{#Data}}
            {{#Author}}
            <span class="nickname">{{Nickname}}</span>
            <span class="tripcode">{{^HiddenTripcode}}{{Tripcode}}{{/HiddenTripcode}}</span>
            {{/Author}}
            <span class="date" data-udate="{{Date}}">{{StrDate}}</span>
            {{/Data}}{{/LastPost}}
        </a>
    </div>
    <div class="right hiding" data-arg="{{ShortUrl}}"></div>
</article>
{{/Thread}}
{{/Last}}
<a href='{{BasePath}}threads' class="article"><section class="sec-button">View all</section></a>
<hr />
<section class="hidden2 sec-header">
    Most popular tags, ordered by popularity.
</section>
{{#Tags}}
<article class="tag-item thread">
    <h3 class="tag-name"><a href="{{BasePath}}tag/{{URLName}}" class="nolink">{{{Name}}}</a></h3>
    <div>Last updated thread: {{#LastThread}}{{#Thread}}<a href="{{BasePath}}thread/{{ShortUrl}}/page/{{Page}}#p{{LastMessage}}" class="thread-title">{{Title}}</a>{{/Thread}}{{/LastThread}} (<span class="date" data-udate="{{LastUpdate}}">{{StrLastUpdate}}</span>)</div>
    <div class="right hiding" data-arg="#{{Name}}"></div>
</article>
{{/Tags}}
<a href='{{BasePath}}tags' class="article"><section class="sec-button">View all</section></a>
{{/Data}}
