<nav>
    <a href="{{BasePath}}new" class="button">New thread</a>
    <form style="display: inline-block" method="POST" action="{{BasePath}}tagsearch">
      <input type="text" name="tags" id="tagsearch" placeholder="Filter by tag" required title="Insert tags separated by commas (without hashtag)" />
      <input type="submit" value="Search" />
    </form>
</nav>
<hr />
<article class="hidden2">
    Recently updated threads, ordered by latest reply.
</article>
{{#Data}}
{{#Last}}
{{#Thread}}
<article class="thread-item">
    <h3 class="thread-name"><a href="{{BasePath}}thread/{{ShortUrl}}" class="nolink">{{Title}}</a></h3>
    <div>Last reply: <a href="{{BasePath}}thread/{{ShortUrl}}/page/{{Page}}#p{{LastMessage}}">{{#LastPost}}{{#Author}}
    <span class="nickname">{{Nickname}}</span>
    <span class="tripcode">{{Tripcode}}</span>
    {{/Author}}{{/LastPost}}<span class="date">{{LRDate}}</span></a></div>
</article>
{{/Thread}}
{{/Last}}
<a href='{{BasePath}}threads' class="article"><article>View all</article></a>
<hr />
<article class="hidden2">
    Most popular tags, ordered by popularity.
</article>
{{#Tags}}
<article class="tag-item">
    <h3 class="tag-name"><a href="{{BasePath}}tag/{{Name}}" class="nolink">{{Name}}</a></h3>
    <div>Last updated thread: {{#LastThread}}{{#Thread}}<a href="{{BasePath}}thread/{{ShortUrl}}/page/{{Page}}#p{{LastMessage}}" class="thread-title">{{Title}}</a>{{/Thread}}{{/LastThread}} (<span class="date">{{LastUpdate}}</span>)</div>
</article>
{{/Tags}}
<a href='{{BasePath}}tags' class="article"><article>View all</article></a>
{{/Data}}
