<!doctype html>
<html>
<head>
    <title>{{#Info}}{{Title}}{{/Info}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=yes, target-densitydpi=device-dpi">
    <link href="/static/css/screen.css" rel="stylesheet" type="text/css" />
    <script src="/static/js/tripcode.js"></script>
</head>
<body>
    <div id="container">
        <header><a href="/">{{#Info}}{{Title}}{{/Info}}</a></header>
        <main>{{{content}}}</main>
    </div>
    <footer>{{#Info}}{{{Footer}}}{{/Info}}</footer>
</body>
</html>