<!doctype html>
<html>
<head>
    <title>{{Title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=yes, target-densitydpi=device-dpi" />
    <link href="/static/css/screen.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="container">
        <header><a href="/"><img class="head" src="/static/images/header.png" /></a></header>
        <main>{{{content}}}</main>
    </div>
    <footer>{{#Info}}{{{Footer}}}{{/Info}}</footer>
    <script src="/static/js/utils.js"></script>
    <script src="/static/js/fixes.js"></script>
    <script src="/static/js/dates.js"></script>
    <script src="/static/js/anon.js"></script>
</body>
</html>