<section><h2 style="padding: 2px 5px;">Creating a new thread</h2></section>
<section class="form">
    <form id="prev-form" method="POST" action="{{BasePath}}new">
        <input class="full small" type="text" name="nickname" placeholder="Nickname#Tripcode (optional)" autofocus />
        <input class="full" type="text" name="title" placeholder="Thread title" required />
        <input class="full small" type="text" name="tags" placeholder="Tags (separated by #)" />

        <!-- Editor buttons -->
        <div id="editorRight">
            <a target="_blank" href="/stiki/formatting">?</a>
        </div>
        <div id="editorButtons">
            <a onclick="editorAdd(this, 'b')"><b>B</b></a>
            <a onclick="editorAdd(this, 'i')"><i>i</i></a>
            <a onclick="editorAdd(this, 'u')"><u>u</u></a>
            <a onclick="editorAdd(this, 'strike')"><strike>strike</strike></a>
            <a onclick="editorAdd(this, 'img')">img</a>
            <a onclick="editorAdd(this, 'url')"><span style="border-bottom: 1px dotted #fff">url</span></a>
            <a onclick="editorAdd(this, 'spoiler')">spoiler</a>
            <a onclick="editorAdd(this, 'youtube')">youtube</a>
            <a onclick="editorAdd(this, 'html')">html</a>
        </div>

        <textarea class="full small" name="text" required placeholder="Thread text (BBCode / Markdown)"></textarea>
        <center>
			<div class="chars-count" data-maxlen="{{#Info}}{{MaxPostLength}}{{/Info}}"></div>
            <input type="submit" value="Create thread" />
            <input type="button" class="button" onclick="showPreview()" value="Preview" />
        </center>
    </form>
</section>
<script src="/static/js/editor.js"></script>
