<nav>
    <a href="{{BasePath}}new" class="button">New thread</a>
    <a class="button" id="tagsearchbtn">Tag search</a>
    <a href="{{BasePath}}stiki" class="button">Stiki</a>
    <a href="{{BasePath}}hidden" class="button">Hidden</a>
</nav>
<hr />
<article class="hidden2">
    Sticky Pages 
</article>
{{#Data}}
{{#Pages}}
<article class="thread-item">
    <h3 class="thread-name"><a href="{{BasePath}}stiki/{{PageUrl}}" class="nolink">{{PageTitle}}</a></h3>
    Last updated: <span class="date" data-udate="{{LastUpdate}}">{{StrDate}}</span>
</article>
{{/Pages}}
{{/Data}}
