<nav>
    <a href="{{BasePath}}new" class="button">New thread</a>
    <form style="display: inline-block" method="POST" action="{{BasePath}}tagsearch">
      <input type="text" name="tags" id="tagsearch" placeholder="Filter by tag" required title="Insert tags separated by commas" />
      <input type="submit" value="Search" />
    </form>
</nav>
{{#Data}}
<div class="pages" current="{{CurrentPage}}" max="nomax" more="{{#More}}yes{{/More}}{{^More}}no{{/More}}"></div>
{{#ThreadList}}
<hr />
<article class="home-thread">
    <div class="last-update">Last activity: <span class="date">{{LRDate}}</span></div>
    <h2 class="thread-title"><a href="{{BasePath}}thread/{{ShortUrl}}" class="noborder">{{Title}}</a></h2>
    <h3 class="thread-author">
        {{#Author}}
        <span class="nickname">{{Nickname}}</span>
        <span class="tripcode">{{Tripcode}}</span>
        {{/Author}}
        <span class="date">{{Date}}</span>
    </h3>
    <div class="thread-content type{{ContentType}}">
        {{{ShortContent}}}{{#HasBroken}}...<br /><br /><a href="{{BasePath}}thread/{{ShortUrl}}">Post truncated, click here to view the full text.</a>{{/HasBroken}}
    </div>
</article>
{{#HasLR}}
<article class="hidden hidden-link">
    <a href="{{BasePath}}thread/{{ShortUrl}}" class="noborder">Showing last reply (of {{Messages}}), click to view full thread</a>
</article>
{{#LastPost}}
<article class="home-post">
    <h3 class="post-author">
        {{#Author}}
        <span class="nickname">{{Nickname}}</span>
        <span class="tripcode">{{Tripcode}}</span>
        {{/Author}}
        <span class="date">{{Date}}</span>
    </h3>
    <div class="post-content type{{ContentType}}">
        {{{ShortContent}}}{{#HasBroken}}...<br /><br /><a href="{{BasePath}}thread/{{ShortUrl}}/page/{{Page}}#p{{Number}}">Post truncated, click here to view the full text.</a>{{/HasBroken}}
    </div>
</article>
{{/LastPost}}
{{/HasLR}}
<section class="tags">
{{#Tags}}
    <a href="{{BasePath}}tag/{{.}}" class="tag">#{{.}}</a>
{{/Tags}}
</section>
{{/ThreadList}}
<div class="pages" current="{{CurrentPage}}" max="nomax" more="{{#More}}yes{{/More}}{{^More}}no{{/More}}"></div>
{{/Data}}
