<nav>
    <a href="/new" class="button">New thread</a>
    <form id="tagsearch-form" class="ac_wrapper" style="display: inline-block" method="POST" action="{{BasePath}}tagsearch"> 
        <input class="ac_input" type="search" name="tags" id="tagsearch" placeholder="Filter by tag" required title="Insert tags (each starting with '#')" autocomplete="off" />
        <input type="submit" value="Search" />
    </form>
    <a href="{{BasePath}}stiki" class="button">Stiki</a>
    <a href="{{BasePath}}hidden" class="button">Hidden</a>
    {{#IsAdmin}}
    <a href="{{BasePath}}blacklist" class="button">Blacklist</a>
    {{/IsAdmin}}
</nav>
<hr />
<article class="hidden2">
    All tags, ordered by popularity
</article>
{{#Data}}
{{#Tags}}
<article class="tag-item thread">
    <h3 class="tag-name"><a href="{{BasePath}}tag/{{URLName}}" class="nolink">{{{Name}}}</a></h3>
    <div>Last updated thread: {{#LastThread}}{{#Thread}}<a href="{{BasePath}}thread/{{ShortUrl}}/page/{{Page}}#p{{LastMessage}}" class="thread-title">{{Title}}</a>{{/Thread}}{{/LastThread}} (<span class="date" data-udate="{{LastUpdate}}">{{StrLastUpdate}}</span>)</div>
    <div class="right hiding" data-arg="#{{Name}}"></div>
</article>
{{/Tags}}
<div class="pages" data-max="nomax">
{{#Pages}}
    {{#HasPrev}}
    <a href="{{BasePath}}tags/page/{{PrevPage}}" rel="prev">&laquo; Back</a>
    {{/HasPrev}}
    <b>{{Page}}</b>
    {{#HasNext}}
    <a href="{{BasePath}}tags/page/{{NextPage}}" rel="next">Next &raquo;</a>
    {{/HasNext}}
{{/Pages}}
</div>
{{/Data}}
