<nav>
    <a href="{{BasePath}}new" class="button">New thread</a>
    <form style="display: inline-block" method="POST" action="{{BasePath}}tagsearch">
      <input type="text" name="tags" id="tagsearch" placeholder="Filter by tag" required title="Insert tags separated by commas" />
      <input type="submit" value="Search" />
    </form>
</nav>
<hr />
<article class="hidden2">
    All threads, ordered by latest reply 
</article>
{{#Data}}
{{#Last}}
<article class="thread-item">
    <h3 class="thread-name"><a href="{{BasePath}}thread/{{ShortUrl}}" class="nolink">{{Title}}</a></h3>
    <div>Last reply: <a href="{{BasePath}}thread/{{ShortUrl}}/page/{{Page}}#p{{LastMessage}}"><span class="date">{{LRDate}}</span></a></div>
</article>
{{/Last}}
{{/Data}}
