<nav>
    <a href="#reply" class="button">Reply</a>
</nav>
<hr />
{{#Data}}
{{#Thread}}
<section class="tags">
{{#Tags}}<a href="/tag/{{.}}" class="tag">#{{.}}</a> {{/Tags}}
</section>
<article class="thread">
    <h2 class="thread-title">{{Title}}</h2>
    {{/Thread}}
    {{#ThreadPost}}
    <h3 class="thread-author">
        {{#Author}}
        <span class="nickname">{{Nickname}}</span>
        <span class="tripcode">{{Tripcode}}</span>
        {{/Author}}
        <span class="date">{{Date}}</span>
    </h3>
    <div class="thread-content type{{ContentType}}">{{{Content}}}</div>
    {{/ThreadPost}}
</article>
{{#Posts}}
<article class="post" id="p{{PostId}}">
    {{#Data}}
    <h3 class="post-author">
        {{#Author}}
        <span class="nickname">{{Nickname}}</span>
        <span class="tripcode">{{Tripcode}}</span>
        {{/Author}}
        <a href="#p{{PostId}}" class="date">{{Date}}</a> <span class="postId">#{{PostId}}</span>
        {{#Author}}
	  {{#Tripcode}}
	    {{^IsDeleted}}
        <a href="#p{{PostId}}" class="edit" onclick="editPost({{PostId}})">Edit</a>
        <a href="#p{{PostId}}" class="delete" onclick="deletePost({{PostId}})">Delete</a>
            {{/IsDeleted}}
	  {{/Tripcode}}
	{{/Author}}
    </h3>
    <div class="post-content type{{ContentType}}">{{{Content}}}</div>
    {{/Data}}
</article>
{{/Posts}}
<hr />
<section class="form"><a name="reply" class="noborder"></a>
<form method="POST" action="/thread/{{#Thread}}{{ShortUrl}}{{/Thread}}/reply">
<input class="full verysmall" type="text" name="nickname" placeholder="Nickname#Tripcode (optional)" />
<textarea class="full verysmall" name="text" required placeholder="Thread text (Markdown is supported)"></textarea>
<center><input type="submit" value="Reply" /></center>
</form>
</section>
{{/Data}}
