<nav>
    <a href="#reply" class="button">Reply</a>
</nav>
<hr />
{{#Data}}
{{#Thread}}
<section class="tags">
{{#Tags}}<a href="/tag/{{.}}" class="tag">#{{.}}</a> {{/Tags}}
</section>
<article class="thread">
    <h2 class="thread-title">{{Title}}</h2>
    {{/Thread}}
    {{#ThreadPost}}
    <h3 class="thread-author">
        {{#Author}}
        <span class="nickname">{{Nickname}}</span>
        <span class="tripcode">{{Tripcode}}</span>
        {{/Author}}
        <span class="date">{{Date}}</span>
        {{#Tripcode}}
        <span class="edit" id="edit_p{{i}}">Edit</span>
        {{/Tripcode}}
    </h3>
    <div class="thread-content">{{{Content}}}</div>
    {{/ThreadPost}}
</article>
{{#Posts:i}}
<article class="post" id="p{{i}}">
    <h3 class="post-author">
        {{#Author}}
        <span class="nickname">{{Nickname}}</span>
        <span class="tripcode">{{Tripcode}}</span>
        {{/Author}}
        <a href="#p{{i}}" class="date">{{Date}}</a>
        {{#Author}}
        {{#Tripcode}}
        &nbsp;<a href='#p{{i}}' class="edit" id="edit_p{{i}}">Edit</a>
        &nbsp;<a href='#p{{i}}' class="edit" id="edit_p{{i}}">Delete</a>
        {{/Tripcode}}
        {{/Author}}
    </h3>
    <div class="post-content">{{{Content}}}</div>
</article>
{{/Posts}}
<hr />
<section class="form"><a name="reply" class="noborder"></a>
<form method="POST" action="/thread/{{#Thread}}{{ShortUrl}}{{/Thread}}/reply">
<input class="full verysmall" type="text" name="nickname" placeholder="Nickname#Tripcode (optional)" />
<textarea class="full verysmall" name="text" required placeholder="Thread text (Markdown is supported)"></textarea>
<center><input type="submit" value="Reply" /></center>
</form>
</section>
{{/Data}}
