<nav>
    <a href="#reply" class="button">Reply</a>
</nav>
<hr />
{{#Data}}
<section class="tags">
    {{#Thread}}
        {{#Tags}}<a href="/tag/{{.}}" class="tag">#{{.}}</a> {{/Tags}}
    {{/Thread}}
</section>
<article class="thread">
    {{#ThreadPost}}
    <h2 class="thread-title">{{Title}}</h2>
    <h3 class="thread-author">
        {{#Author}}
        <span class="nickname">{{Nickname}}</span>
        <span class="tripcode">{{Tripcode}}</span>
        {{/Author}}
        <span class="date">{{Date}}</span>
    </h3>
    <div class="thread-content">{{{Content}}}</div>
    {{/ThreadPost}}
</article>
{{#Posts}}
<article class="post">
    <h3 class="post-author">
        {{#Author}}
        <span class="nickname">{{Nickname}}</span>
        <span class="tripcode">{{Tripcode}}</span>
        {{/Author}}
        <span class="date">{{Date}}</span>
    </h3>
    <div class="post-content">{{{Content}}}</div>
</article>
{{/Posts}}
<hr />
<section class="form"><a name="reply" class="noborder"></a>
<form method="POST" action="/thread/{{#Thread}}{{ShortUrl}}{{/Thread}}/reply">
<input class="full verysmall" type="text" name="nickname" placeholder="Nickname#Tripcode (optional)" />
<textarea class="full verysmall" name="text" required placeholder="Thread text (Markdown is supported)"></textarea>
<center><input type="submit" value="Reply" /></center>
</form>
</section>
{{/Data}}