[
    { 
        "ImgPath": "/static/images/foo.png",
        "Question": "what number is this?",
        "Answer": "42"
    },
    { 
        "ImgPath": "/static/images/bar.png",
        "Question": "what word is this?",
        "Answer": "sedimentary"
    }
]
