@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic);
@import url(https://fonts.googleapis.com/css?family=Raleway:200,400,600);
@import "compass/css3";

/* General Template */
body {
	background: url(../images/bg.png) #333;
	font-family: "Source Sans Pro", sans-serif; font-weight: 300;
	color: #fff; margin: 0; padding: 0;
}

header, footer, h1, h2, h3, h4 { font-family: "Raleway", sans-serif; }

#container {
	text-align: left;
	width: 98%;
	max-width: 650px;
	margin: 0 auto;
}

nav, section, article {
	background: rgba(0,0,0,0.5);
	padding: 5px; margin: 2px 0;
}

header {
	background: #000;
	font-size: 2em;
	height: 150px;
	background-color: #000, #000;
	background-image: url(/static/images/headerbg.png), url(/static/images/maud.gif);
	background-repeat: no-repeat;
	background-position: left, right;

	a[href], a[href]:visited {
		color: #fff; border: 0;
		font-weight: 200;
	}
}

nav.upper {
	display: block;
	padding: 0; font-size: 0.9em;
	background: none; margin-top: 5px;
	a[href], a[href]:visited {
		background: rgba(0,0,0,0.5);
		display: inline-block;
		color: #fff; border: 0; text-transform: uppercase;
		padding: 3px; font-weight: 300;
		@include transition-property(all);
		@include transition-duration(0.2s);
		&:hover {
			background-color: #fff;
			color: #000;
		}
	}
}

img.head { width: 100%; max-width: 410px; margin-top: 10px; }

footer {
	margin: 10px;
	text-align: center;
	font-size: 0.85rem;
}

hr {
	background: transparent;
	padding: 3px; margin: 2px 0; border: 0;
}

ol { margin: 0; }

/* Buttons and links */

a[href].noborder { border: 0 };

button, input[type="submit"], input[type="button"],
a.button, a.button:visited, a.article, a.article:visited,
a[href].button, a[href].button:visited {
	font-family: "Source Sans Pro", sans-serif;
	text-decoration: none; background-color: transparent;
	border: 1px solid #ccc; color: #fff;
	padding: 3px 5px; margin: 0; margin-right: 3px;
	display: inline-block; cursor: pointer;
	font-size: 1.2em; font-weight: 300;
	@include transition-property(all);
	@include transition-duration(0.2s);
	&:hover {
		background-color: #fff;
		color: #000;
	}
}

a[href].article, a[href].article:visited {
	border: 0; margin: 0; display: block; padding: 0; border-bottom: 0;
	font-size: 1.1em; color: #bbb;
	&:hover {
		color: #fff;
		background-color: inherit;
	}
	& > article {
		padding: 3px 10px;
	}
}

a[href], a[href]:visited {
	color: #fff; text-decoration: none; border-bottom: 1px dotted #ccc;
}

.pages {
	text-align: center;
	padding: 0.5em;

	b {
		display: inline-block;
		padding: 0px 5px;
	}

	a, a:visited {
		display: inline-block;
		padding: 0px 5px;
		border: 1px solid #aaa;
		&:hover { border-color: #ccc; }
	}
}


a.nolink { border: 0; }

/* Tag search */

#tagsearch {
	font-size: 1.2em;
	background: transparent;
	border: 1px solid #aaa;
	font-weight: 300;
	padding: 3px 5px;
	margin: 0;
	font-family: "Source Sans Pro", sans-serif;
	color: #fff;
	&:focus {
		border-color: #fff;
		background-color: rgba(255,255,255,0.3);
		outline: none;
	}
}

.home-thread, .thread { padding: 5px 5px; }

.hidden {
	padding: 3px 5px;
	font-size: 0.9em;
}
.hidden-link {
	opacity: 0.8;
	cursor: pointer;
	&:hover { opacity: 1; }
}

.last-update {
	font-family: "Raleway", sans-serif;
	font-size: 0.9em;
	font-weight: 200;
}

/* Thread view */

.post, .thread {
	position: relative;
	&.highlighted {
		background-color: rgba(100,100,100,.4);
	}
	&.quoted {
		display: none;
		position: fixed;
		background-color: rgba(0,0,0,0.9);
		padding: 5px; margin: 2px 0;
		z-index: 5;
		.right { display: none; }
	}
}

.right {
	position: absolute; right: 0; top: 0;
	text-align: right;  padding: 0.5em;

	.edit, .delete {
		opacity: 0.5;
		@include transition-property(all);
		@include transition-duration(0.2s);
		&:hover { opacity: 1; }
	}
}

.center {
	text-align: center;
}

.thread-title {
	margin: 5px; padding: 0;
	font-weight: 400;
}
h2.thread-title { margin-right: 2em; }
.thread-author, .post-author {
	margin: 0; padding: 5px; padding-top: 0;
	font-weight: 400;
	font-size: 0.9rem;
}

article.post-selected { background-color: rgba(0,0,0,.7); }

.post-author { padding: 0 5px; padding-top: 5px; margin-right: 2em; }

.nickname { font-weight: 600; }
.tripcode { color: #777; }
a.date, a.postId, a.date:visited, a.postId:visited { border: 0; cursor: pointer; color: #ccc; &:hover { color: #eee; }}
.lastedit { font-size: 0.8em; color: #ddd; opacity: 0.6; }

.tags { font-size: 0.9em; opacity: 0.8; padding: 3px 5px 5px 5px; }
.tag, .tag:visited { color: #ccc; border: 0; &:hover { color: #fff; } }

h2 { font-size: 1.3em; padding: 0; }
.thread-content p, .post-content p { margin: 0; padding: 0 0 5px 0; }
.thread-content, .post-content { margin: 5px; padding: 0; color: #eee; }

.anon {
	font-weight: normal; color: #ccc;
}

.thread-content img, .post-content img, iframe { max-width: 100%; max-height: 320px; }

.thread-content p { display: inline; }

.type blockquote { margin: 0; padding: 0; }
.type blockquote p, .purpletext,{
	color: #cae;
}
a[href].postIdQuote, a[href].postIdQuote:visited {
	color: #c8f;
	border: 0;
}
a[href].postIdQuote:hover {
	color: #fcf;
}

span.spoiler, span.spoiler a[href], span.spoiler a[href]:visited {
	background-color: #555; color: #555;
	&:hover { color: inherit; background-color: inherit; }
}

#post-preview {
	background-color: rgba(0,0,0,.7);
	h3 {
		border-bottom: 1px dotted #555;
		padding-bottom: 6px;
		margin-bottom: 4px;
		font-size: 0.7em;
		text-transform: uppercase;
	}
}

a.toggleImage, a.toggleIframe {
	cursor: pointer;
	border-bottom: 1px dotted #ccc;
}

/* Homepage */

.tag-item, .thread-item {
	font-size: 0.9em;
	padding: 10px;
	&.seen {
		opacity: 0.7;
	}
}
.tag-name, .thread-name { text-transform: capitalize; padding: 0; margin: 0; margin-right: 3em; }
.hide { opacity: 0.6; &:hover { opacity: 1; } }

/* Forms */

.full {
	display: block; width: 96%; margin: 5px auto;
	font-family: "Source Sans Pro", sans-serif;
	font-size: 1.3rem; font-weight: 300; color: #eee;
	border: 1px solid #666; background-color: transparent;
	padding: 5px; outline: 0;
	@include transition-property(border-color);
	@include transition-duration(0.2s);
	&:focus {
		border-color: #ccc;
	}
}

textarea.full { margin: 6px auto; min-height: 200px; overflow: auto; }
.small { font-size: 1rem; }
.verysmall { font-size: 1rem; }
textarea.verysmall { min-height: 100px; }
textarea.editor { min-height: 150px; }

input.short { max-width: 150px; }
input.inline { display: inline-block; padding: 3px; margin-right: 5px; }

#editorButtons, #editorRight {
	&.small {
		font-size: 0.9em;
		margin: 0 6px;
	}

	margin: 0 7px;
	a, a[href] {
		@extend a[href].button;
		border-color: #666;
		font-size: 1em;
		min-width: 1em;
		text-align: center;
		margin-top: 5px;
	}
}

#editorRight {
	&.small { margin: 0 4px; }
	float: right; margin: 0 4px;
}

/* Errors */

.error {
.fullimage { width: 100%; max-width: 650px; }
header p { display: inline-block; font-size: 2em; font-weight: 900; margin: 0.4em 0 0 0.5em; }
}

.errmsg {
	padding: 5px; margin: 0;
}

.chars-count {
	font-size: 1.1em; font-weight: 300;
}

/* Autocomplete */
.ac_wrapper {
	position: relative;
}

ul.ac_list {
	background-color: rgba(0, 0, 0, 0.85);
	list-style: none;
	padding: 5px;
	position: absolute;
	margin: 0;
	li {
		position: relative;
		span {
			margin-right: 3em;
			display: block;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		&:hover {
			background-color: #fff;
			color: #000;
		}
		a.rightanchor {
			position: absolute; 
			right: 0; 
			top: 0;
			padding: 0.5;
			text-align: right;
			color: #ddd;
			font-size: small;
		}
	}
}

/* Options dialog */
#overlay {
	visibility: hidden;
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 50%;
	text-align: center;
	font-size: 1.4em;
	z-index: 1000;
	div {
		max-width: 500px;
		margin: 100px auto;
		padding: 15px;
		background-color: rgba(0, 0, 0, 0.9);
		form {
			margin: 15px 0;
		}
		label {
			display: block;
			text-align: left;
			padding: 0.4em;
			margin-top: 4px;
		}
		input[type="checkbox"] {
			display: none;
			& + label {
				border: 2px solid darkred;
				@include transition-property(border-color);
				@include transition-duration(0.2s);
				cursor: pointer;
				&:hover {
					border-color: #fff;
				}
			}
			&:checked {
				& + label {
					font-weight: bold;
					border-color: green;
					&:before { content: "✓ "; }
				}
			}
		}
	}
}
