@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic);
@import url(https://fonts.googleapis.com/css?family=Raleway:200,400,600);
@import "compass/css3";

/* General Template */
body {
    background: url(../images/bg.png) #333;
    font-family: "Source Sans Pro", sans-serif; font-weight: 300;
    color: #fff; margin: 0; padding: 0;
}

header, footer, h1, h2, h3, h4 { font-family: "Raleway", sans-serif; }

#container {
    text-align: left;
    width: 98%;
    max-width: 650px;
    margin: 0 auto;
}

nav, section, article {
    background: rgba(0,0,0,0.5);
    padding: 5px; margin: 2px 0;
}

header {
    background: #000;
    font-size: 2em;
    height: 150px;
    background-color: #000, #000;
    background-image: url(/static/images/headerbg.png), url(/static/images/maud.gif);
    background-repeat: no-repeat;
    background-position: left, right;
}

img.head { width: 100%; max-width: 410px; margin-top: 10px; }

header a[href], header a[href]:visited {
    color: #fff; border: 0;
    font-weight: 200;
}

footer {
    margin: 10px;
    text-align: center;
    font-size: 0.85rem;
}

hr {
    background: transparent;
    padding: 3px; margin: 2px 0; border: 0;
}

/* Buttons and links */

button, input[type="submit"], a.button, a.button:visited, a.article, a.article:visited {
    font-family: "Source Sans Pro", sans-serif;
    text-decoration: none; background-color: transparent;
    border: 1px solid #ccc; color: #fff;
    padding: 3px 5px; margin: 0; margin-right: 3px;
    display: inline-block; cursor: pointer;
    font-size: 1.2em; font-weight: 300;
    @include transition-property(all);
    @include transition-duration(0.2s);
    &:hover {
        background-color: #fff;
        color: #000;
    }
}

a[href].article, a[href].article:visited {
	border: 0; margin: 0; display: block; padding: 0; border-bottom: 0;
	font-size: 1.1em; color: #bbb;
	&:hover {
		color: #fff;
		background-color: inherit;
	}
	& > article { 
		padding: 3px 10px;
	}
}

a[href], a[href]:visited {
    color: #fff; text-decoration: none; border-bottom: 1px dotted #ccc;
}

a.nolink { border: 0; }

/* Tag search */

#tagsearch {
    font-size: 1.2em;
    background: transparent;
    border: 1px solid #aaa;
    font-weight: 300;
    padding: 3px 5px;
    margin: 0;
    font-family: "Source Sans Pro", sans-serif;
    color: #fff;
    &:focus {
        border-color: #fff;
        background-color: rgba(255,255,255,0.3);
        outline: none;
    }
}

.home-thread, .thread { padding: 5px 5px; }

.hidden {
    padding: 3px 5px;
    font-size: 0.9em;
}
.hidden-link {
    opacity: 0.8;
    cursor: pointer;
    &:hover { opacity: 1; }
}

.last-update {
    font-family: "Raleway", sans-serif;
    font-size: 0.9em;
    font-weight: 200;
}

/* Thread view */

.post, .thread {
    position: relative;
}

.right {
    position: absolute; right: 0; top: 0;
    text-align: right;  padding: 0.5em;

    .edit {
        opacity: 0.5;
        @include transition-property(all);
        @include transition-duration(0.2s);
        &:hover { opacity: 1; }
    }
}

.thread-title {
    margin: 5px; padding: 0;
    font-weight: 400;
}
.thread-author, .post-author {
    margin: 0; padding: 5px; padding-top: 0;
    font-weight: 400;
    font-size: 0.9rem;
}

article.post-selected { background-color: rgba(0,0,0,.7); }

.post-author { padding: 0 5px; padding-top: 5px; }

.nickname { font-weight: 600; }
.tripcode { color: #777; }
a.date    { border: 0; color: #ccc; &:hover { color: #eee; }}
.lastedit { font-size: 0.8em; color: #ddd; opacity: 0.6; }

.tags { font-size: 0.9em; opacity: 0.8; padding: 3px 5px 5px 5px; }
.tag, .tag:visited { color: #ccc; border: 0; &:hover { color: #fff; } }

h2 { font-size: 1.3em; margin: 0; padding: 0; }
.thread-content p, .post-content p { margin: 0; padding: 0 0 5px 0; }
.thread-content, .post-content { margin: 5px; padding: 0; color: #eee; }

.anon {
    font-weight: normal; color: #ccc;
}

.thread-content img, .post-content img, iframe { max-width: 100%; max-height: 320px; }

.thread-content p { display: inline; }

.type blockquote { margin: 0; padding: 0; }
.type blockquote p, .purpletext { color: #cae; }

span.spoiler {
    background-color: #555; color: #555;
    &:hover { color: inherit; background-color: inherit; }
}

/* Homepage */

.tag-item, .thread-item { font-size: 0.9em; padding: 10px; }
.tag-name, .thread-name { text-transform: capitalize; padding: 0; margin: 0; }

/* Forms */

.full {
    display: block; width: 96%; margin: 5px auto;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1.3rem; font-weight: 300; color: #eee;
    border: 1px solid #666; background-color: transparent;
    padding: 5px; outline: 0;
    @include transition-property(border-color);
    @include transition-duration(0.2s);
    &:focus {
        border-color: #ccc;
    }
}

textarea.full { margin: 6px auto; min-height: 200px; overflow: auto; }
.small { font-size: 1rem; }
.verysmall { font-size: 1rem; }
textarea.verysmall { min-height: 100px; }
textarea.editor { margin: 2px 0 5px 0; width: 98%; min-height: 150px; }

input.short { max-width: 150px; }
input.inline { display: inline-block; padding: 3px; margin-right: 5px; }

/* Errors */

.error {
.fullimage { width: 100%; max-width: 650px; }
header p { display: inline-block; font-size: 2em; font-weight: 900; margin: 0.4em 0 0 0.5em; }
}
